<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>문지 → 화암</string>
	<key>weekday</key>
	<array>
		<string>7:10</string>
		<string>7:40</string>
		<string>8:10</string>
		<string>8:40</string>
		<string>9:20</string>
		<string>9:50</string>
		<string>10:20</string>
		<string>10:50</string>
		<string>11:50</string>
		<string>13:20</string>
		<string>14:20</string>
		<string>15:20</string>
		<string>16:20</string>
		<string>16:50</string>
		<string>10:20</string>
		<string>10:50</string>
		<string>11:20</string>
		<string>11:50</string>
		<string>13:20</string>
		<string>14:20</string>
		<string>15:20</string>
		<string>16:20</string>
		<string>17:20</string>
		<string>17:50</string>
		<string>18:20</string>
		<string>18:50</string>
		<string>19:20</string>
		<string>19:50</string>
		<string>20:20</string>
		<string>21:20</string>
		<string>21:50</string>
		<string>22:20</string>
		<string>23:20</string>
		<string>0:20</string>
		<string>1:20</string>
		<string>2:20</string>
		<string>3:20</string>
	</array>
	<key>weekend</key>
	<array>
		<string>7:50</string>
		<string>9:20</string>
		<string>10:50</string>
		<string>12:20</string>
		<string>13:50</string>
		<string>15:20</string>
		<string>16:50</string>
		<string>18:20</string>
		<string>19:50</string>
		<string>21:20</string>
		<string>22:50</string>
		<string>0:20</string>
		<string>1:50</string>
	</array>
</dict>
</plist>
